/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- banner --*/
.error-page{
	background:url("../images/.jpg");
	background-size:cover;
	background: #2383af;
}
.error-page p {
    margin: 1em 0;
    text-align: center;
    color: #000;
    font-size: 1em;
}
.error-page h1 {
    font-size: 4em;
    text-transform: capitalize;
    font-weight: 300;
    padding: 1em 0;
    text-align: center;
    letter-spacing: 4px;
    color: #FFFFFF;
}
.error-page h2 {
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px 4px #FFFFFF;
	font-family: 'Roboto Condensed', sans-serif;
}
.icon {
    text-align: center;
    margin: 4em 0 0;
}
.icon i.fa {
    font-size: 10em;
    color: #FFC107;
}
/*-- navigation --*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-nav > .active > a{
	color:#FFF;
    background-color:transparent;
}
.navbar-nav {
    float: none !important;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #FFC107;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #FFC107;
    border: 2px solid #FFC107;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
    text-align: center;
    margin: 0 1em;
}
.navbar-nav>li>a {
    padding: 1em 2em;
    background: none;
    color: #ffffff;
    border: 2px solid #FFFFFF;
}
.navbar-nav>li>a:hover{
    background: #FFC107;
    border: 2px solid #FFC107;
}
ul.nav.navbar-nav {
    text-align: center;
    margin: 6em 0 3em;
}
.navbar-nav a {
    font-size: 1.4em;
}
/*-- //navigation --*/
/*-- //banner --*/
/*-- about --*/
.about-para p {
    margin: 2em 0 0;
    text-align: justify;
    color: #999;
    font-size: 1em;
    line-height: 1.8em;
}
.team,.services,.subscribe ,.contact,.about{
    padding: 4em 0;
}
.heading,.team,.subscribe,.contact {
    text-align: center;
}
.heading h1 {
    font-size: 3em;
    text-transform: uppercase;
    color: #999;
    position: relative;
}
.para p {
    line-height: 1.8em;
    margin: 3em 0 0;
    color: #000;
    font-size: 1em;
}
.w3ls-head {
    position: relative;
}
.w3-color h4 {
    color: #FFFFFF;
}
.about h3,.team h3 ,.services h3,.subscribe h3,.contact h3{
    font-size: 43px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    opacity: 0.5;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
}
.w3ls-head h4 {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    top: 0.5em;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}
/*-- //about --*/
/*-- team --*/
.team {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	background: #2383af;
}
.agileits-team-grids {
    margin: 3em 0;
}
.team-info{
    position: relative;
    overflow: hidden;	
}
.team-caption h4{
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 600;
    margin: .5em 0 0 0;
}
.team-caption p{
	color: #ffffff;
    font-size: .9em;
    margin: 0;
}
.team-caption ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.team-caption ul li{
    display: inline-block;
}
.team-caption ul li a {
	color: #333;
    text-align: center;
}
.team-caption ul li a i.fa.fa-facebook{
    height: 30px;
    width: 30px;
    font-size: 1.5em;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}
.team-caption ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
    font-size: 1.5em;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-twitter:hover{
	background: #55acee;
}
.team-caption ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    font-size: 1.5em;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
.team-caption {
    background: #f04494;
    padding: 1em;
    position: absolute;
    left: 49px;
    bottom: -105%;
    text-align: center;
    width: 72%;
    height: 130px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.team-info:hover .team-caption{
    bottom: 0%;
}
.team-info:hover .team-caption {
    bottom: 0%;
}
/*-- //team --*/
/*-- services --*/
.services{
	text-align:center;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
    width: 28%;
    margin: 0 2em;
    padding: 2em;
}
.grid-1 i.fa, .grid-2 i.fa, .grid-3 i.fa, .grid-4 i.fa, .grid-5 i.fa, .grid-6 i.fa {
    font-size: 4em;
    color: #FFFFFF;
}
.service-grid-top, .service-grid-bottom {
    margin-top: 4em;
}
.grid-1 h5,.grid-2 h5 ,.grid-3 h5,.grid-4 h5,.grid-5 h5,.grid-6 h5{
    margin: 1em 0;
    font-size: 1.4em;
    font-weight: 600;
    color: #FFFFFF;
}
.grid-1 {
    background: #eea303;
}
.grid-2 {
    background: #5BD899;
}
.grid-3{
    background: #447ea8;
}
.grid-4{
    background: #4ec7c4;
}
.grid-5{
    background: #b7a57a;
}
.grid-6{
    background: #657786;
}
.grid-1 p,.grid-2 p,.grid-3 p,.grid-4 p,.grid-5 p,.grid-6 p {
    font-size: 1em;
    margin: 1em 0;
    line-height: 1.8em;
    color: #FFFFFF;
}
/*-- //services --*/
/*-- subscribe --*/
.subscribe {
    background: #2383af;
}
.subscribe input[type="email"] {
    width: 50%;
    padding: .6em;
    font-size: 1.2em;
    border: 2px solid #FFFFFF;
}
.subscribe input[type="submit"] {
    border: 2px solid #FFC107;
    padding: .6em 4em;
    font-size: 1.2em;
    color: #FFFFFF;
    background: #FFC107;
}
.subscribe input[type="submit"]:hover{
    color: #000000;
    background: none;
    border: 2px solid #000000;
}
.form {
    text-align: center;
    margin: 3em 0 0;
}
textarea{
	height:10em;
}
/*-- //subscribe --*/
/*-- contact --*/
.contact input[type="submit"] {
    background: #FFC107;
    color: #FFFFFF;
    border: 2px solid #FFC107;
    padding: .4em;
    font-size: 1.2em;
}
.contact input[type="submit"]:hover {
    background: none;
    color: #000000;
    border: 2px solid #000000;
}
.contact input[type="text"], .contact input[type="email"], textarea {
    width: 90%;
    padding: .6em;
    margin: .9em;
}
/*-- //contact --*/
/*-- footer --*/
.footer{
	padding:3em 0;
	background:#111;
}
.agile-grid-left {
    text-align: center;
}
.agile-grid-left h4,.agile-grid-right h4{
    color: #FFFFFF;
    font-size: 1.5em;
    margin: 0 0 1em 0;
    font-family: 'Oswald', sans-serif;
}
.agile-grid-left form input[type="email"] {
    background: #383838;
    box-shadow: none !important;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 1em;
    width: 60% !important;
    font-weight: 400;
    border: none;
    margin: 0;
}
.agile-grid-left form input[type="submit"] {
    border: solid 2px #eea303;
    color: #ffffff;
    font-size: 1em;
    padding: .5em 2em;
    text-decoration: none;
    background: #eea303;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-grid-left form input[type="submit"]:hover {
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
	background:none;
}
.agile-grid-left form input[type="email"]:focus {
    outline: none;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a {
	color: #333;
    text-align: center;
}
.social ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background: #383838;
    background: #3b5998;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-facebook:hover {
    height: 40px;
    width: 40px;
    line-height: 40px;
	color:#3b5998;
    background: #FFFFFF;
}
.social ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background: #383838;
	background: #55acee;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-twitter:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	color: #55acee;
    background: #FFFFFF;
}
.social ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background: #383838;
	background: #f26522;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-rss:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	color: #f26522;
    background: #FFFFFF;
}
.social ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background: #383838;
	background: #45668e;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-vk:hover{
    height: 40px;
    width: 40px;
    line-height: 40px;
	color: #45668e;
    background: #FFFFFF;
}
.social ul li:nth-child(2){
	margin:0 .5em;
}
.social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
.agile-nav{
	margin: 3em 0 0 0;
    text-align: center;
    padding: 3em 0 0 0;
    border-top: solid 1px #1d1d1d;
}
.agile-nav ul{
	padding:0;
	margin:0;
}
.agile-nav ul li{
	display:inline-block;
	margin:0 1em;
}
.agile-nav ul li a{
	color:#FFFFFF;
	font-size:1em;
	text-decoration:none;
}
.agile-nav ul li a:hover{
	color:#f04494;
}
/*-- //footer --*/
/*-- copyright --*/
.copyright{
    padding: 2em 0;
    background: #222;
    text-align: center;
}
.copyright p{
	color:#FFFFFF;
	font-size:1em;
	margin:0;
}
.copyright p a{
	color:#FFFFFF;
}
.copyright p a:hover{
	color:#f04494;
}
/*-- //copyright --*/

/* responsive design */
@media screen and (max-width: 1080px) {
	.team-caption {
		left: 15px;
		width: 89%;
	}
	.icon {
		margin: 2em 0 0;
	}
	ul.nav.navbar-nav {
		text-align: center;
		margin: 3em 0;
	}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
		width: 30%;
		margin: 0 1em;
		padding: 2em;
	}
	.team, .services, .subscribe, .contact, .about {
		padding: 3em 0;
	}
}
@media screen and (max-width: 1024px) {
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
		padding: 2em 1em;
	}
	.error-page h1 {
		font-size: 3em;
	}
	.icon i.fa {
		font-size: 8em;
	}
}

@media screen and (max-width: 991px) {
	.navbar-nav>li>a {
		padding: .6em 1em;
	}
	.agileits-team-grid {
		width: 33.33%;
		float: left;
		padding-right: 0px;
	}
	.team-caption {
		left: 0px;
		width: 100%;
	}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
		width: 29%;
		float: left;
		padding: 1em;
	}
	.grid-1 i.fa, .grid-2 i.fa, .grid-3 i.fa, .grid-4 i.fa, .grid-5 i.fa, .grid-6 i.fa {
		font-size: 3em;
	}
	.service-grid-top, .service-grid-bottom {
		margin-top: 3em;
	}
	.grid-1 p, .grid-2 p, .grid-3 p, .grid-4 p, .grid-5 p, .grid-6 p {
		margin: 0;
	}
	.grid-1 h5, .grid-2 h5, .grid-3 h5, .grid-4 h5, .grid-5 h5, .grid-6 h5 {
		font-size: 1.3em;
	}
	.agile-nav {
		margin: 1em 0 0 0;
		padding: 1em 0 0 0;
	}
	.copyright {
		padding: 1em 0;
	}
}
@media screen and (max-width: 800px) {
	.error-page h2 {
		text-align: center;
		font-size: 3em;
	}
	.error-page h1 {
		letter-spacing: 0px;
	}
	.team img {
		width: 100%;
	}
	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}	
}
@media screen and (max-width: 768px) {
	.navbar{
		margin-bottom:0em;
	}
	.subscribe input[type="submit"] {
		padding: .6em 3em;
	}
	.navbar-header {
		text-align: center;
	}
	.navbar-toggle {
		float: none;
		margin-top: 0px; 
		margin-right: 0px; 
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 736px) {
	.navbar-header {
		text-align: center;
	}
	.navbar-toggle {
		float: none;
		margin-top: 0px; 
		margin-right: 0px; 
		margin-bottom: 0px;
	}
	.icon i.fa {
		font-size: 6em;
	}
	.error-page h1 {
		padding: 1em 0 0;
	}
	ul.nav.navbar-nav {
		margin: 2em 0;
	}
	.navbar-nav li a {
		font-size: 1.2em;
		padding: .4em .8em;
	}
	.error-page h1 {
		font-size: 2em;
	}
	.w3ls-head h4 {
		font-size: 2.5em;
	}
	.about h3, .team h3, .services h3, .subscribe h3, .contact h3 {
		font-size: 2.7em;
	}
	body .b_label, body .bar_label_min, body .bar_label_max, body .b_tooltip span {
		line-height: 30px;
	}
	body .bar_left {
		margin: 0 40px;
	}
	body .bar {
		padding: 30px 0 0;
	}
	body .bar_group__bar.thin , body .bar_group__bar.thin::before{
		height: 5px;
	}
	body .b_label, body .bar_label_min, body .bar_label_max, body .b_tooltip span {
		font-size: 1em;
		line-height: 24px;
	}
	.team img {
		width: 100%;
	}
	.team-caption{
		height:110px;
	}
	.team-caption h4 {
		font-size: 1.2em;
	}
	.grid-1 h5, .grid-2 h5, .grid-3 h5, .grid-4 h5, .grid-5 h5, .grid-6 h5 {
		margin: .5em 0;
	}
	.grid-1 i.fa, .grid-2 i.fa, .grid-3 i.fa, .grid-4 i.fa, .grid-5 i.fa, .grid-6 i.fa {
		font-size: 2em;
	}
	.navbar-nav>li {
		float: none;
		display: block;
		margin: 1em 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #ddd;
		transition: 0.5s all;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #d8ae30;
	}
}
@media screen and (max-width: 667px) {
	.about-para p {
		margin: 2em;
	}
	.error-page p {
		margin: 1em;
	}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
		width: 100%;
		float: left;
		margin: 0 0 1em 0;
		padding: 1em 2em;
	}
	.navbar-nav>li {
		float: none;
		display: block;
		margin: 1em 0;
	}
}
@media screen and (max-width: 600px) {
	.navbar-nav>li {
		margin: 0em;
	}
	.navbar-nav>li {
		float: none;
		display: block;
		margin: 1em 0;
	}
	.about-para p {
		margin: 2em 2em 0;
	}
	.error-page h2 {
		font-size: 2em;
	}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
		width: 100%;
		margin: 1em 0 0;
		padding: 1em 2em;
	}
	.service-grid-bottom{
		margin-top: 0em;
	}
	.subscribe input[type="email"],.subscribe input[type="submit"] {
		font-size: 1em;
	}
	.footer {
		padding: 1em 0;
	}
	.about h3, .team h3, .services h3, .subscribe h3, .contact h3 {
		font-size: 2.2em;
	}
	.w3ls-head h4 {
		font-size: 2em;
	}
	.agileits-team-grids {
		margin: 3em 0 0;
	}
	.subscribe input[type="submit"] {
		padding: .6em 2em;
	}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6 {
		margin: 0em 0 1em 0;
		width:100%;
	}
}
@media screen and (max-width: 414px) {
	.error-page h2 {
		text-align: center;
		font-size: 2em;
	}
	.subscribe input[type="submit"] {
		padding: .6em 1em;
	}
	.contact input[type="text"], .contact input[type="email"], textarea {
		margin: .4em;
	}
	.copyright p {
		line-height: 1.8em;
	}
	.agileits-team-grid {
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}
	.team-caption {
		height: 160px;
	}
	.team-caption h4 {
		font-size: 1.4em;
	}
	.icon i.fa {
		font-size: 5em;
	}
	.agileits-team-grids {
		margin: 1em 0 0;
	}
	.contact input[type="text"], .contact input[type="email"], textarea {
		padding: .5em;
		margin: .4em;
	}
	body .bar_left, body .bar_right {
		margin: 0;
	}
	.agileits-team-grid {
		padding-left: 0px;
	}
	.navbar-nav>li {
		float: none;
		display: block;
		margin: 1em 0;
	}
	.subscribe input[type="email"] {
		width: 100%;
		margin-bottom: 1em;
	}
	.agile-nav ul li {
		margin: 0 .5em;
	}
}
@media screen and (max-width: 375px) {
	.icon i.fa {
		font-size: 4em;
	}
	.about-para p {
		margin: 2.5em 1em 1em;
	}
	.navbar-nav>li {
		float: none;
		display: block;
		margin: 1em 0;
	}
}
@media screen and (max-width: 320px) {
	.agile-nav ul li {
		margin: 0 .5em;
	}
	textarea {
		height: 7em;
	}
}
/* responsive design */
